.label {
    color: #fff;
    margin-right: 1rem;
    width: 10rem;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid orange;
    color: white;
    &:focus {
        outline: none;
    }
}

.invalid {
    color: red;
    border-bottom: 2px solid red;
    transition: .2s border-color ease-in-out;
}

.text {
    color: #fff;
    width: 10rem;
    word-wrap: break-word;
    text-overflow: clip;
    overflow:hidden;
}

.invalid-text {
    color: red;
    transition: .2s color ease-in-out;
}

.icon-calendar {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.icon-calendar:before {
    content: 'calendar_month';
    color: #fff;
    font-size: 1.5rem;
}