<div class="background"></div>
<div class="profile">

    <div *ngFor="let test of array" class="profile-card-container">
        <div class="first-row">
            <div class="avatar-gender-container">
                <div class="avatar-container">
                    <img id="avatar" src="/assets/902671383996268564.webp" alt="">
                </div>
                <div class="gender">Kön: Kvinna</div>
            </div>
            <div class="name-hobby-container">
                <div class="name">Julius Tümson</div>
                <div class="hobby-container">
                    <div class="hobby">Hobby-1</div>
                    <div class="hobby">Hobby-2</div>
                    <div class="hobby">Hobby-3</div>
                </div>
            </div>
        </div>
        <div class="second-row">
            <div class="description">Tjenare detta är en beskrivning. vet inte vad jag ska skriva, men jag har något skrivit klart nu. Pungt Tjenare detta är en beskrivning. vet inte vad jag ska skriva, men jag har något skrivit klart nu. Pungt Tjenare detta är en beskrivning. vet inte vad jag ska skriva, men jag har något skrivit klart nu. Pungt </div>
        </div>
        <div class="third-row"></div>
    </div>

</div>