:host {
    background-color: #fff;
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.background {
    background-image: url('/assets/flow-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.profile {
    width: 1200px;
    display: flex;
    flex-direction: column;
    padding: 2rem .5rem 5rem .5rem;
    align-items: center;
    box-shadow: 3px 3px 20px 4px black;
    border-left: 3px solid orange;
    border-right: 3px solid orange;
    background-color: rgba(44, 44, 44, 0.900);
    height: 100%;
    z-index: 1;
}

.search-container {
    display: flex;
    position: relative;
    border-radius: 1rem;
    padding: 0 .5rem;
    margin-bottom: 2rem;
    background-color: #464646b7;

    .search {
        color: #fff;
        font-size: 1.5rem;
        outline: none;
        border: none;
        background-color: transparent;
    }
}

.profile-container {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
}

.profile-card-container {
    width: 20rem;
    height: 22rem;
    margin-bottom: 2rem;
    border-radius: 1rem;

    &.high-match{
        background-color: rgba(46, 128, 66, 0.507);
    }
    
    &.medium-match {
        background-color: rgba(128, 95, 46, 0.507);
    }
    
    &.low-match {
        background-color: rgba(128, 46, 46, 0.507);
    }

}

.first-row {
    display: flex;
    justify-content: flex-start;
    padding: 1rem 0 0 1rem;
    gap: .5rem;
}

.avatar-gender-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.avatar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 3px solid orange;
    border-radius: 1rem;
    height: 120px;
    width: 120px;
    overflow: hidden;
}

.avatar {
    position: absolute;
    width: 100%;
    height: auto;
}

.gender{
    color: #fff;
    font-size: 1.3rem;
}

.name-hobby-container {

}

.name {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;

    &:hover{
        color: rgb(150, 150, 236);
        text-decoration: underline;
    }
}

.hobby-container {
    display: flex;
    flex-direction: column;
}

.hobby {
    display: flex;
    justify-content: center;
    width: 5rem;
    color: #fff;
    padding: .2rem;
    border-radius: .2rem;
    background-color: rgba(20, 20, 20, 0.507);
}

.description {
    height: 10rem;
    padding: .5rem;
    color: #fff;
    overflow: auto;
}

.icon-search {
    display: flex;
    align-items: center;
    &:before{
        content: 'search';
        color: #fff;
        font-size: 2rem;
    }
}

@media screen and (max-width: 1200px) {
    .profile {
        width: 100%;
        border: none;
    }
}