<div class="background"></div>
<div class="profile">

    <form [formGroup]="searchForm">
        <div class="search-container">
            <input type="text" class="search" placeholder="Användarnamn" formControlName="search">
            <span type="button" class="icon icon-search"></span>
        </div>
    </form>

    <div class="profile-container">
        <div *ngFor="let match of allMatches" class="profile-card-container">
            <div class="first-row">
                <div class="avatar-gender-container">
                    <div class="avatar-container">
                        <img id="avatar" src="/assets/902671383996268564.webp" alt="">
                    </div>
                    <div class="gender">Kön: {{match.user.gender}}</div>
                </div>
                <div class="name-hobby-container">
                    <div class="name">{{match.user.firstName}} {{match.user.surname}}</div>
                    <div class="hobby-container">
                        <div class="hobby">{{match.user.preferences.hobbies[0] ? match.user.preferences.hobbies[0].name : ''}}</div>
                        <div class="hobby">{{match.user.preferences.hobbies[1] ? match.user.preferences.hobbies[1].name : ''}}</div>
                        <div class="hobby">{{match.user.preferences.hobbies[2] ? match.user.preferences.hobbies[2].name : ''}}</div>
                    </div>
                </div>
            </div>
            <div class="second-row">
                <div class="description">{{match.user.description}}</div>
            </div>
            <div class="third-row"></div>
        </div>
    </div>
</div>