<div class="background"></div>
<div class="profile">

    <div class="search-container">
        <input #usernameInput type="text" class="search" placeholder="Användarnamn">
        <span type="button" class="icon icon-search" (click)="search(usernameInput.value)"></span>
    </div>

    <div class="profile-container">
        <div *ngFor="let match of allMatches" class="profile-card-container"
        [class.high-match]="match.matchPercentage >= 66"
        [class.medium-match]="match.matchPercentage < 66 && match.matchPercentage >= 33"
        [class.low-match]="match.matchPercentage < 33">
            <div class="first-row">
                <div class="avatar-gender-container">
                    <div class="avatar-container">
                        <img id="avatar" src="/assets/902671383996268564.webp" alt="">
                    </div>
                    <div class="gender">Kön: {{match.user.gender}}</div>
                </div>
                <div class="name-hobby-container">
                    <a [routerLink]="'/user/' + match.user.userId" class="name">{{match.user.firstName}} {{match.user.surname}}</a>
                    <div class="hobby-container">
                        <div class="hobby">{{match.user.preferences.hobbies[0] ? match.user.preferences.hobbies[0].name : ''}}</div>
                        <div class="hobby">{{match.user.preferences.hobbies[1] ? match.user.preferences.hobbies[1].name : ''}}</div>
                        <div class="hobby">{{match.user.preferences.hobbies[2] ? match.user.preferences.hobbies[2].name : ''}}</div>
                    </div>
                </div>
            </div>
            <div class="second-row">
                <div class="description">{{match.user.description}}</div>
            </div>
            <div class="third-row"></div>
        </div>
    </div>
</div>