:host {
    background-image: url('/assets/profile-background.jpg');
    background-repeat: no-repeat;
    background-color: #fff;
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
}

.contacts {
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    box-shadow: 3px 3px 20px 4px black;
    border-left: 3px solid orange;
    border-right: 3px solid orange;
    background-color: rgba(44, 44, 44, 0.900);
    height: 100%;
}
.friend-request-title {
    margin-top: 1rem;
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.first-row{
    width: 90%;
}
.request-box{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .5rem;
    max-height: 250px;
    overflow: auto;
    background-color: rgba(253, 250, 250, 0.7);
    border: 3px solid orange;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.friend-request {
    display: flex;
    margin: .4rem 0 .2rem .4rem;
}
.button-container{
    display: flex;
    margin-right: 1rem;
    justify-content: space-between;
}
.acceptRequestButton {
    margin-right: 1rem;
}


.second-row{
    margin-top: 1rem;
    border-top: 2px solid orange;
    width: 90%;

}
.friends-title{
    margin-top: 1rem;
    color: #fff;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.friends-box{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: .5rem;
    max-height: 250px;
    overflow: auto;
    background-color: rgba(253, 250, 250, 0.7);
    border: 3px solid orange;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.friends{

}


.third-row{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

.advOptionsBtn{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: white;
}

.adv-options-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(37, 37, 37, 0.801);
    padding: 0 1rem;
}

.info-title {
    margin-top: .5rem;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}
.icon-done {
    display: flex;
    align-items: center;
    &::before {
        content: 'done';
        color: rgb(56, 156, 56);
        border: 2px solid rgb(56, 156, 56);
        border-radius: 5px;
        font-size: 2rem;
    }
}

.icon-close {
    display: flex;
    align-items: center;
    &::before {
        content: 'close';
        color: rgb(192, 59, 59);
        border: 2px solid rgb(192, 59, 59);
        border-radius: 5px;
        font-size: 2rem;
    }
}
.icon-expand-more::before{
    content: 'expand_more';
}

  
@media screen and (max-width: 750px) {
    .profile {
        width: 100%;
        border: none;
    }
}
