<div class="background"></div>
<div class="contacts">


    <div class="first-row">
        <h2 class="friend-request-title">Friend Request:</h2>
        <div *ngFor="let contact of getFriendRequests()" class="request-box">
            <div type="button" class="friend-request">{{contact.contact.firstName + ' ' + contact.contact.surname}}</div>
            <div class="button-container">
                <span type="button" class="acceptRequestButton icon icon-done" (click)="accept(contact.contact)"></span>
                <span type="button" class="declineRequestButton icon icon-close" (click)="deny(contact.contact)"></span>
            </div>
        </div>
    </div>

    <div class="second-row">
        <h2 class="friends-title">Friends:</h2>
        <div *ngFor="let contact of getFriends()" class="friends-box">
            <div class="friends-box-header">
                <div type="button" class="friends">{{contact.contact.firstName + ' ' + contact.contact.surname}}</div>
                
                <span type="button" (click)="contact.collapsed=!contact.collapsed" class="icon" [class.icon-expand-less]="!contact.collapsed"
                [class.icon-expand-more]="contact.collapsed"></span>
            </div>
            <div class="w-100" #contactInfo="ngbCollapse" [ngbCollapse]="contact.collapsed">
                <div>{{'Discord: ' + contact.contact.contactInformation.discord + ' Snapchat: ' + contact.contact.contactInformation.snapchat + ' Instagram: ' + contact.contact.contactInformation.instagram + ' Facebook: ' + contact.contact.contactInformation.facebook + ' Email: ' + contact.contact.contactInformation.email + ' Phone: ' + contact.contact.contactInformation.phone}}</div>
            </div>
        </div>
    </div>
    <div class="third-row">
        <button (click)="optionsExpanded = !optionsExpanded" class="advOptionsBtn mb-3" id="advOptionsBtn">
            {{optionsExpanded ? 'Blockerade Användare' : 'Dölj Blockerade'}}
            <span class="icon" [class.icon-expand-less]="!optionsExpanded"
                [class.icon-expand-more]="optionsExpanded"></span>
        </button>

        <div class="w-100" #collapse="ngbCollapse" [ngbCollapse]="optionsExpanded">
            <div *ngFor="let contact of getBlocked()" class="blocked-users-container">

                <div type="button" class="blocked">{{contact.contact.firstName + ' ' + contact.contact.surname}}</div>
                <span type="button" class="unblock-button">Unblock</span>
                

            </div>
        </div>

    </div>

</div>