<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">Hobbymatchningsapp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="flode">Flöde</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="profile">Profil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" routerLink="contacts">Kontaktlista</a>
                </li>
            </ul>
            <button *ngIf="!isLoggedIn()" type="button" class="btn btn-success me-3" routerLink="login">Logga in</button>
            <button *ngIf="!isLoggedIn()"type="button" class="btn btn-warning" routerLink="register">Registrera</button>
            <button *ngIf="isLoggedIn()" type="button" class="btn btn-danger" (click)="logout()">Logga ut</button>
        </div>
    </div>
</nav>