.label {
    color: #fff;
    margin-right: 1rem;
    width: 10rem;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid orange;
    color: white;
    &:focus {
        outline: none;
    }
}

.invalid {
    border-bottom: 2px solid red;
    transition: .5s border-color ease-in-out;
}