<div class="background"></div>

  <main>
    <section class="hero">
      <h2>Hitta personer med din passion</h2>
      <h1>Vänner på dina villkor!</h1>
     
    </section>
    <section class="features">
      <div class="feature">
        <img src="/assets/pexels-photo-13472100.jpeg" alt="Feature 1">
        <h2>Max</h2>
        <h5>"Jag älskar att fiska på det öppna vattnet, vill hitta någon med navigerings kompetens som gillar flugfiske"</h5>
      </div>
      <div class="feature">
        <img src="/assets/pexels-photo-6995627.webp" alt="Feature 2">
        <h2>Julia</h2>
        <h5>"Vill hitta någon att ta långa promenader med ute i naturen"</h5>
      </div>
      <div class="feature">
        <img src="/assets/pexels-photo-1540977.jpeg" alt="Feature 3">
        <h2>Adam</h2>
        <h5>"Att resa och fotografera är min passion"</h5>
      </div>
    </section>
  </main>
  <footer>
    <p>&copy; 2023 Selma Lagerlöf</p>
  </footer>