.label {
    color: #fff;
    margin-right: 1rem;
    width: 10rem;
}

.input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid orange;
    color: white;
    min-width: 11.5625rem;
    &:focus {
        outline: none;
    }
}

.option {
    background-color: rgb(41, 41, 41);
    border: none;
    color: #fff;
}

.invalid {
    color: red;
    border-bottom: 2px solid red;
    transition: .2s border-color ease-in-out;
}

.text {
    color: #fff;
    width: 10rem;
    word-wrap: break-word;
    text-overflow: clip;
    overflow:hidden;
}

.invalid-text {
    color: red;
    transition: .2s color ease-in-out;
}