<div class="background">
    
</div>
<div class="profile">

    <div class="first-row">
        <div class="avatar-gender-container">
            <div class="avatar-container">
                <img id="avatar" src="/assets/902671383996268564.webp" alt="">
            </div>
            <div class="gender">Kön: Furry</div>
            <div class="region">Region: {{user.personalRegion.name}}</div>
        </div>
        <div class="name-description-container">
            <div class="name">{{user.firstName}} {{user.surname}}</div>
            <div class="description-container">
                <label class="description-label" for="description">Beskrivning</label>
                <form [formGroup]="form">
                    <textarea class="description" id="description" rows="6" cols="50" maxlength="300"
                        formControlName="description"></textarea>
                </form>
            </div>
        </div>
    </div>
    <div class="second-row">
        <div class="hobby-container">
            <div class="hobby" *ngFor="let hobby of hobbiesToDisplay(), index as iter">
                <label class="hobby-text">{{hobby.name}}</label>
                <span *ngIf="hobbiesToDisplay().length-1 == iter" type="button" class="icon icon-add-circle"
                    (click)="openHobbyModal(hobbyContent)"></span>
            </div>
        </div>

    </div>
    <div class="third-row">
        <div class="content">

            <p class="info-title">Fyll i matchningspreferenser</p>
            <div class="region-preferences">
                <label class="prefs-labels">Sökning utifrån region:</label>
                <span type="button" class="icon icon-person-pin-circle" (click)="openRegionModal(regionContent)"></span>
            </div>

            <div class="age-preferences">
                <label class="prefs-labels">Åldersspann</label>
                <ngx-slider [(value)]="selectedAgeOne" [(highValue)]="selectedAgeTwo"
                    [options]="ageSliderOptions"></ngx-slider>
            </div>

        </div>
    </div>

    <div class="fourth-row">
        <button (click)="optionsExpanded = !optionsExpanded" class="advOptionsBtn mb-3" id="advOptionsBtn">
            {{optionsExpanded ? 'Avancerade alternativ' : 'Dölj alternativ'}}
            <span class="icon" [class.icon-expand-less]="!optionsExpanded"
                [class.icon-expand-more]="optionsExpanded"></span>
        </button>

        <div class="w-100" #collapse="ngbCollapse" [ngbCollapse]="optionsExpanded">
            <div class="adv-options-container">

                <p class="info-title">Ändra dina uppgifiter</p>

                <app-text class="mt-3" label="Förnamn:" identifier="firstname" placeholder="Förnamn"
                    [control]="form.controls['first-name']"></app-text>

                <app-text class="mt-3" label="Efternamn:" identifier="surname" placeholder="Efternamn"
                    [control]="form.controls['surname']"></app-text>

                <app-text class="mt-3" label="Användarnamn:" identifier="username" placeholder="Användarnamn"
                    [control]="form.controls['username']"></app-text>

                <app-text class="mt-3" label="Email:" identifier="email" placeholder="Email"
                    [control]="form.controls['email']"></app-text>

                <div class="d-flex mt-3 mb-3">
                    <label class="region-label">Region:</label>
                    <button class="personal-region-button"
                        (click)="openPersonalRegionModal(personalRegionContent)">{{getPersonalRegionName(form.controls['personalRegion'].value)}}</button>
                </div>

            </div>
        </div>

    </div>

    <div [hidden]="!isValuesEdited" class="fifth-row">
        <div type="button" class="cancel" (click)="cancelEdit()">Avbryt</div>
        <div type="button" class="save-button" (click)="saveEdit()">Spara</div>
    </div>

</div>

<ng-template #hobbyContent let-modal>
    <div class="container modal-container">
        <form [formGroup]="form">
            <div formArrayName="hobbies">
                <div *ngFor="let hobby of allHobbies; index as iter" class="modal-hobby-item form-check">
                    <label [for]="'modal-hobby-item' + iter"
                        class="form-check-label modal-hobby-item-label">{{hobby.name}}</label>
                    <input type="checkbox" [name]="'modal-hobby-item' + iter" [id]="'modal-hobby-item' + iter"
                        class="form-check-input" [formControlName]="iter">
                </div>
            </div>
        </form>
        <div type="button" class="close" (click)="modal.dismiss('Close')">Klar</div>
    </div>
</ng-template>

<ng-template #regionContent let-modal>
    <div class="container modal-container">
        <form [formGroup]="prefForm">
            <div formArrayName="prefRegions">
                <div *ngFor="let region of allRegions; index as iter" class="modal-region-item form-check">
                    <label [for]="'modal-region-item' + iter"
                        class="form-check-label modal-region-item-label">{{region.name}}</label>
                    <input type="checkbox" [name]="'modal-region-item' + iter" [id]="'modal-region-item' + iter"
                        class="form-check-input" [formControlName]="iter">
                </div>
            </div>
        </form>
        <div type="button" class="close" (click)="modal.dismiss('Close')">Klar</div>
    </div>
</ng-template>

<ng-template #personalRegionContent let-modal>
    <div class="container modal-container">
        <form [formGroup]="form">
            <div *ngFor="let region of allRegions; index as iter" class="modal-region-item form-check">
                <label [for]="'modal-region-item' + iter"
                    class="form-check-label modal-region-item-label">{{region.name}}</label>
                <input type="radio" name="personalRegion" [id]="'modal-region-item' + iter" [value]="region.id"
                    class="form-check-input" formControlName="personalRegion">
            </div>
        </form>
        <div type="button" class="close" (click)="modal.dismiss('Close')">Klar</div>
    </div>
</ng-template>