:host {
    background-image: url('/assets/profile-background.jpg');
    background-repeat: no-repeat;
    background-color: #fff;
    display: flex;
    justify-content: center;
    height: 100%;
    position: relative;
}

.profile {
    width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    box-shadow: 3px 3px 20px 4px black;
    border-left: 3px solid orange;
    border-right: 3px solid orange;
    background-color: rgba(44, 44, 44, 0.900);
    height: 100%;
}

.first-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.avatar-gender-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 4rem;
    padding-top: 2rem;

}

.avatar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid orange;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    overflow: hidden;
}

.gender{
    color: #fff;
    font-size: 1.3rem;
}
.name-description-container{
    padding-right: 4rem;
}
.name{
    color: #fff;
    font-size: 2rem;
   
}
.description-container{
    display: flex;
    flex-direction: column;
}

.description-label{
    color: #fff;
}
.description{
    resize: none;
    background-color: rgba(44, 44, 44, 0.700);
    color: #fff;
    border-width: 3px;
    border-radius: 10px;
    border-color: orange;
}

.description:focus{
    outline: none;    
}

.second-row{
    width: 90%;
    max-height: 20rem;
    background-color: rgba(44, 44, 44, 0.700);
    border: 3px solid orange;
    border-radius: 10px;
    margin-top: 2rem;    
}

.hobby-container{
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
    max-height: 250px;
    overflow: auto;
}

.hobby {
    display: flex;
    margin: .4rem 0 .2rem .4rem;
}

.hobby-text{
    border: 1px solid orange;
    border-radius: .3rem;
    padding: .2rem .4rem;
    color: #fff;
    margin-right: .5rem;
    text-align: center;
}

.third-row{

}
.region-container{

}
.region-text {
    border: 1px solid orange;
    border-radius: .3rem;
    padding: .2rem .4rem;
    color: #fff;
    margin-right: .5rem;
    text-align: center;
}




.fourth-row{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

.advOptionsBtn{
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    color: white;
}

.adv-options-container{
    display: flex;
    flex-direction: column;
    background-color: rgba(37, 37, 37, 0.801);
    padding: 0 1rem;
}

.info-title {
    margin-top: .5rem;
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
}

.fifth-row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    bottom: 0;
    padding: 2rem 0;
}

.cancel {
    color: #fff;
    font-size: 1.1rem;
    text-decoration: underline;
}

.save-button {
    display: flex;
    justify-content: center;
    width: 5rem;
    color: #fff;
    border: 1px solid orange;
    padding: .5rem 2rem;
    margin-left: 1rem;

    &:hover {
        background-color: rgba(133, 133, 133, 0.247);
    }
}

.modal-container {
    background-color: rgb(27, 27, 27);
    border: 1px solid orange;
    border-radius: .5rem;

    .modal-hobby-item-label {
        color: #fff;
    }
    .modal-region-item-label {
        color: #fff;
    }

    .close {
        color: #fff;
        font-size: 1.5rem;
        text-align: center;
        margin: .5rem;
        border: 1px solid orange;
        border-radius: .5rem;

        &:hover {
            background-color: rgb(70, 70, 70);
        }
    }
}

.icon-add-circle{
    display: flex;
    align-items: center;
    color: rgb(13, 185, 240);
}

.icon-add-circle::before{
    content: 'add_circle';
}

.icon-expand-less::before{
    content: 'expand_less';
}

.icon-expand-more::before{
    content: 'expand_more';
}
.icon-person-pin-circle {
    display: flex;
    align-items: center;
    color: rgb(13, 185, 240);
    font-size: 3rem;
  }
  .icon-person-pin-circle::before {
    content: 'person_pin_circle';
  }
  
@media screen and (max-width: 750px) {
    .profile {
        width: 100%;
        border: none;
    }
}
