:host {
    background-image: url('/assets/profile-background.jpg');
    background-repeat: no-repeat;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    
}
.profile-saveButton-container{
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    height: 100%;
}
.profile {
    width: min-content;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    box-shadow: 3px 3px 20px 4px black;
    border-left: 3px solid orange;
    border-right: 3px solid orange;
    background-color: rgba(44, 44, 44, 0.900);
    height: 100%;
    
}
.save-button-div{
    width: 10rem
}

.first-row{
    
    display: flex;
    justify-content: center;
    
}
.avatar-gender-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem 4rem;
    padding-top: 2rem;

}
.avatar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid orange;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    overflow: hidden;
}

.gender{
    color: #fff;
    font-size: 1.3rem;
}
.name-description-container{
padding-right: 4rem;
}
.name{
    color: #fff;
    font-size: 2rem;
   
}
.description-container{
    display: flex;
    flex-direction: column;
}

.description-label{
    color: #fff;
}
.description{
    resize: none;
    background-color: rgba(44, 44, 44, 0.700);
    color: #fff;
    border-width: 3px;
    border-radius: 10px;
    border-color: orange;
    

    
}
.description:focus{
    outline: none;
    
}

.second-row{
    width: 90%;
    max-height: 20rem;
    background-color: rgba(44, 44, 44, 0.700);
    border: 3px solid orange;
    border-radius: 10px;
    margin-top: 2rem;    
}

.icon-add-circle{
    display: flex;
    align-items: center;
    color: white;
}

.hobby-container{
    display: flex;
    flex-wrap: wrap;
}

.hobbies-text{
    align-self: flex-start;
    color: white;
    margin: 0.4rem;
    border: 3px solid orange;
    background-color: gray;
}

.third-row{

}

.fourth-row{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}

.advOptionsBtn{
    background-color: rgb(70, 69, 69);
    color: white;
    border-width: 3px;
    border-color: orange;
}

.adv-options-container{
    display: flex;
    flex-direction: column;
}

.fourth-row-inputs{
    background-color: rgb(49, 49, 49);
    color: white;
    border: 1.5px solid orange;
}

.fourth-row-inputs:focus{
    outline: none;
}

.adv-labels{
    color: white;
}

.save-button{
    margin-top: 1rem;
    font-size: 20px;
    background-color: rgb(70, 69, 69);
    color:white;
    border-width: 2px;
    border-color: orange;
}

.icon-add-circle::before{
    content: 'add_circle';
}
