<div class="background"></div>
<div class="profile">

    <div class="first-row">
        <div class="avatar-gender-buttons-container">
            <div class="avatar-container">
                <img id="avatar" src="/assets/902671383996268564.webp" alt="">
            </div>
            <div class="gender">Kön: {{user.gender}}</div>
            <div class="region">Region: {{user.region.name}}</div>

            <div *ngIf="!isFriend && !isBlocked" class="add-block-div">
                <button class="add-button" (click)="addFriend()"> <span class="icon icon-add"></span>Lägg till vän</button>
                <button class="block-button" (click)="blockUser()"> <span class="icon icon-block"></span> </button>
            </div>

            <div *ngIf="isFriend && !isBlocked" class="remove-block-div">
                <button class="remove-button" (click)="removeFriend()"> <span class="icon icon-remove"></span>Ta bort vän</button>
                <button class="block-button" (click)="blockUser()"> <span class="icon icon-block"></span> </button>
            </div>

            <div *ngIf="isBlocked" class="is-blocked-block-div"> <!-- Den här BORDE displayas när man klickar på en blokerad user -->
                <button class="unblock-button" (click)="blockUser()"> <span class="icon icon-block"></span>Avblockera</button>
            </div>

        </div>
        <div class="name-description-container">
            <div class="name">{{user.firstName}} {{user.surname}}</div>
            <div class="description-container">
                <label class="description-label" for="description">Beskrivning</label>
                <textarea class="description" id="description" rows="6" cols="50" maxlength="300"
                    readonly>{{user.description}}</textarea>
            </div>
        </div>
    </div>

    <div class="second-row">
        <div class="hobby-container">
            <div class="hobby" *ngFor="let hobby of user.preferences.hobbies">
                <label class="hobby-text">{{hobby.name}}</label>
            </div>
        </div>
    </div>

    <div *ngIf="isFriend" class="third-row">
        <p class="message-intro">Skicka ett email-meddelande till din vän:</p>
        <textarea #message class="message-area"></textarea>
        <button class="send-msg-button" (click)="sendMesasgeToFriend(message.value)" >Send message</button>
    </div>

    <div class="fourth-row">
        <p *ngIf="isFriend" class="info-title">Uppgifiter</p>
        <div class="contact-info-container w-100">

            <div class="info-container">
                <div class="info-label">Användarnamn:</div>
                <div class="info">{{user.username}}</div>
            </div>


            <!-- Each if "isFriend" checks if user is on your friendlist, if they are then we can also display their contact information-->
            <div *ngIf="isFriend" class="info-container">
                <div class="info-label">Email-adress:</div>
                <div class="info">{{user.contactInformation.email}}</div>
            </div>

            <div *ngIf="isFriend" class="info-container">
                <div class="info-label">phone number:</div>
                <div class="info">{{user.contactInformation.phoneNumber}}</div>
            </div>

            <div *ngIf="isFriend" class="info-container">
                <div class="info-label">Facebook:</div>
                <div class="info">{{user.contactInformation.facebook}}</div>
            </div>

            <div *ngIf="isFriend" class="info-container">
                <div class="info-label">Discord:</div>
                <div class="info">{{user.contactInformation.discord}}</div>
            </div>

            <div *ngIf="isFriend" class="info-container">
                <div class="info-label">Snapchat:</div>
                <div class="info">{{user.contactInformation.snapchat}}</div>
            </div>

        </div>
    </div>

</div>