<div class="form-content">
    <p class="login-header">Registera ett konto</p>
    <form [formGroup]="form" class="d-flex justify-content-center flex-column align-items-center">

        <div class="user-registration-container d-flex justify-content-center align-items-center">
            <div class="user-credentials-container d-flex flex-column">

                <app-text class="mt-3" label="Email:" identifier="email" placeholder="Email"
                    [control]="form.controls['email']" [errorMessages]="{'pattern': 'Ingen giltig email'}"></app-text>

                <app-text class="mt-3" label="Användarnamn:" identifier="username" placeholder="Användarnamn"
                    [control]="form.controls['username']"></app-text>

                <app-text
                    [customInvalid]="!getControl('password').valid && getControl('password').touched"
                    [customValid]="getControl('password').valid && getControl('password').touched" name="password"
                    class="mt-3" label="Lösenord:" identifier="password" placeholder="Lösenord"
                    [control]="form.controls['password']"></app-text>
                
                <app-text
                    [customInvalid]="(!getControl('repeat-password').valid && getControl('repeat-password').touched) || getControl('repeat-password').value != getControl('password').value"
                    [customValid]="getControl('repeat-password').valid && getControl('repeat-password').value == getControl('password').value && getControl('repeat-password').touched"
                    class="mt-3" label="Upprepa lösenord:" identifier="repeat-password" placeholder="Upprepa lösenord"
                    [control]="form.controls['repeat-password']"></app-text>
            </div>

            <div class="user-information d-flex flex-column">

                <app-text class="mt-3" label="Förnamn:" identifier="first-name" placeholder="Förnamn"
                [control]="form.controls['first-name']"></app-text>

                <app-text class="mt-3" label="Efternamn:" identifier="surname" placeholder="Efternamn"
                [control]="form.controls['surname']"></app-text>

                <app-date class="mt-3" label="Födelsedatum:" identifier="birthdate" placeholder="Födelsedag"
                [control]="form.controls['birthdate']" [errorMessages]="{'ngbDate': 'Formatet måste vara yyyy-MM-dd'}"></app-date>

                <app-dropdown class="mt-3" label="Kön:" identifier="gender"
                [control]="form.controls['gender']" [values]="{'MAN': 'Man', 'WOMAN': 'Kvinna', 'OTHER': 'Annat'}"></app-dropdown>

                <app-dropdown class="mt-3" label="Region:" identifier="region"
                [control]="form.controls['region']" [values]="{
                    'Blekinge län': 'Blekinge län',
                    'Dalarnas län': 'Dalarnas län',
                    'Gotlands län': 'Gotlands län',
                    'Gävleborgs län': 'Gävleborgs län',
                    'Hallands län': 'Hallands län',
                    'Jämtlands län': 'Jämtlands län',
                    'Jönköpings län': 'Jönköpings län',
                    'Kalmar län': 'Kalmar län',
                    'Kronobergs län': 'Kronobergs län',
                    'Norrbottens län': 'Norrbottens län',
                    'Skåne län': 'Skåne län',
                    'Stockholms län': 'Stockholms län',
                    'Södermanlands län': 'Södermanlands län',
                    'Uppsala län': 'Uppsala län',
                    'Värmlands län': 'Värmlands län',
                    'Västerbottens län': 'Västerbottens län',
                    'Västernorrlands län': 'Västernorrlands län',
                    'Västmanlands län': 'Västmanlands län',
                    'Västra Götalands län': 'Västra Götalands län',
                    'Örebro län': 'Örebro län',
                    'Östergötlands län': 'Östergötlands län'
                }"></app-dropdown>

            </div>
        </div>

        <input type="submit" class="btn btn-primary register-button" value="Registrera" (click)="register()">
    </form>
</div>