:host {
    background-image: url('/assets/login_wallpaper.jpg');
    background-repeat: no-repeat;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.form-content {
    background-color: rgba(0, 0, 0, 0.575);
    padding: 4rem 5rem 3rem 5rem;
    backdrop-filter: blur(5px);
}

.user-credentials-container {
    margin-right: 2.5rem;
}

.user-information {
    padding-left: 2.5rem;
    border-left: 2px solid white;
}

.login-header {
    color: white;
    font-size: 2rem;
}

.username-label, .password-label, .email-label, .first-name-label, .surname-label, .gender-label, .birthdate-label {
    color: #fff;
}

.register-button {
    background-color: rgba(66, 180, 13, 0.788);
    border: none;
    width: 14rem;
    padding: .7rem 1rem .7rem 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    &:active {
        background-color: rgba(101, 240, 37, 0.788);
    }
}

.icon-calendar {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.icon-calendar:before {
    content: 'calendar_month';
    color: #fff;
    font-size: 2rem;
}